@import url('https://fonts.googleapis.com/css2?family=Audiowide&family=Big+Shoulders+Stencil+Display&family=Space+Grotesk&display=swap');
*{
    box-sizing: border-box;
    padding: 0px; margin: 0px;
}
/* body {background: #060C21;} */
body {
    background: black;
}
#myVideo {
    position: fixed;
    right: 0; bottom: 0;
    width: 100vw; height: 100vh;
    z-index: -5;
}
/* ----- NAVBAR ----- */
.navbar {
    color: cyan;
    margin: 1vw; padding: 0.5vw;
    display: flex;
    justify-content: right;
    align-items: center;
}

.navbar div { margin: 0vw 0.5vw; }

.navbar div#name {
    position: absolute;
    font-size: xx-large;
    font-family: 'Audiowide', cursive;
    left: 1vw;
    font-weight: bold; font-style: italic;
    padding: 0.6vh;
    background: #060C21;
    border: 2px solid #060C21;
}

.navbar div#name::before {
    content: '';
    position: absolute;
    top: -3px; left: -3px; bottom: -3px; right: -3px;
    background: linear-gradient(135deg, cyan, red);
    transform: skew(10deg, 2deg);
    z-index: -1;
}

div#name p {
    background: linear-gradient(140deg, cyan, red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#switch {
    text-decoration: none;
    display: block;
    width: 3.5vw; height: 3.5vw;
}

#switch img {
    width: 3vw; height: 3vw;
    margin: 0.25vw;
    filter: invert(100);
    cursor: pointer;
}
/* ----- MAIN ----- */
.main {
    display: grid;
    gap: 1vw;
    grid-template-areas: 'b1 cent cent cent cent cent b2';
}

/* ----- BOX-BUTTON ----- */
#box1 { grid-area: b1; }
#box2 { grid-area: b2; }

.box {
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
}

.btn { margin: 4vh 1vw; }

.btn input[type="radio"] { display: none; }

.btn label {
    display: block;
    color: cyan;
    font-family: 'Audiowide', cursive;
    text-align: center;
    padding-top: 7%;
    font-size: larger;
    width: 15vw; height: 8vh;
    position: relative;
    background: #060C21;
    border: 2px solid #060C21;
    transition: all 0.75s ease 0s;
    cursor: pointer;
}

.btn label::before {
    content: '';
    position: absolute;
    top: -2px; left: -2px; right: -2px; bottom: -2px;
    background: cyan;
    animation: BorderMotion 3s ease 0s infinite forwards;
    z-index: -1;
}

.btn label:hover {
    border-color: #192343;
    background: #192343;
}

input[type="radio"]:checked + label { color: red; }
input[type="radio"]:checked + label::before { background: red; }

@keyframes BorderMotion {
    0% {transform: skew(3deg, -3deg);}
    25% {transform: skew(0deg, 0deg);}
    50% {transform: skew(-3deg, 3deg);}
    75% {transform: skew(0deg, 0deg);}
    100% {transform: skew(3deg, -3deg);}
}

/* ----- CENTER ----- */
.center {
    text-align: center;
    color: cyan;
    grid-area: cent;
    height: 89vh;
}

.face {
    height: 40vw; width: 40vw;
    position: relative;
    top: -18vh; left: -17vh;
    z-index: -3;
}
.face img {
    position: relative;
    top: 10vw;
    height: 65%; width: 65%;
    border-radius: 50%;
}
.output {
    border-radius: 8vh;
    background: #060C21;
    height: 23vw; width: 40vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    position: relative;
    top: -30vw; left: 23vw
}
.input {
    height: 10vh; width: 63vw;
    position: relative;
    top: -27vw; left: 0vw;
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    border-radius: 3vh;
    background: #060C21;
}